html{
	height: 100%;
}
body{
	/*display: none;*/
	height: 100%;
	overflow: hidden;
	font-size: 100%;
	color: #444;
}
header, footer{
	width: 100%;
	/*height: 20px;*/
	height: 1.5em;
	outline: 1px solid #bbb;
}

aside, section{
	box-sizing: border-box;
}
aside{
	/*display: inline-block;*/
	float: left;
	width: 15%;
	min-width: 300px;
	max-width: 500px;
	height: 100%;
	min-height: 400px;
	outline: 1px solid #dce;
	background: #fff;
	overflow: auto;

}
section{
	/*section的宽度需要js来控制啊```*/
	zoom: 1;
	/*min-width: 500px;*/
	height: 100%;
	min-height: 400px;
	box-sizing: border-box;
	padding: 1.5em;

	outline: 1px solid #acd;
	/*background: url(../img/bg-ironman3-2.jpg) center center;*/
	background-attachment: fixed;
	overflow: auto;
}


nav{
	box-sizing: border-box;
	width: 100%;
	height: 3em;
	padding: 0.5em;
	background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#F0F0F0), to(#D9D9D9), color-stop(0.5,#EBEBEB));
	box-shadow: 0 0 0.5em rgba(0,0,0,0.5)
}

#lists{
	list-style: none;
	padding: 0;
	margin: 0;
}
.list, #add-list{
	box-sizing: content-box;
	margin: 0;
	padding: 0.5em;
	border: none;
	cursor: pointer;
	-webkit-transition: all 300ms 100ms ease-in;
}
.list{
	border-bottom: 1px dashed rgba(220, 220, 220, 1);

}

.listpre, .listname, .listshare, .listevents{
	display: inline-block;
	*zoom: 1;
}

.listpre, .listshare, .listevents{
	/*margin-top: -0.25;*/
	height: 1em;
	width: 1em;
} 
.listname{
	width: 80%;
	text-overflow: ellipsis;
	overflow: hidden;  
	white-space: nowrap; 
}

.list .listshare{
	display: none;
}

.list.active{
	background: ;
}
.list.active .listevents{
	display: none;
}

.list.active .listshare{
	display: inline-block;
}

/*  ---- experimental: transition --- */

#lists li{
	/*-webkit-transition: all 600ms ease-out;*/
	background: #f5f5ff;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.temp{
	margin-top: 50px;
	-wekit-transform-origin: top left;
	-webkit-transform: perspective(300px) rotateX(-40deg);
}

/*  ------ end of experimental -----*/

/*  --------- 输入框的样式 -----------*/

#input-ctn{
	/*display: table-row;*/
	width: 100%;
	box-sizing: border-box;
	padding: 3px;
	background: #f77d62;
}

#event-input{
	/*display: table-cell;*/

	display: block;
	/*width: 100%;*/
	box-sizing: border-box;
	padding: 4px;
	height: 2em;
	font-size: 1em;
	/* input即便在block的时候宽度也是有限的，  所以也是需要js控制宽度*/
	min-width: 500px;
	margin: 0 4em 0 0;
	border: none;
	/*background: transparent;*/
	background: rgba(255,255,255,0.6);
}

#event-input:focus {
	outline: none;
}
.addons{
	/*display: none;*/

	float: right;
	width: 4em;
	height: 2em;
	background: rgba(255,255,255,0.6);

}

#input-ctn a{
	/*display: none;*/
} 

#event-input:focus ~ .addons{
	display: block;
	color: white;
}
/* ---------endof 输入框样式*/

/*  ------------ 事件容器的样式 ----------*/
.events{
	list-style: none;
	margin: 0.5em 0 0 0;
	padding: 0;
}

.event{
	background: #accded;
	padding: 0;
	border-radius: 8px;
	height: 2em;
}
.eventpre, .eventbody, .eventtail{
	display: block;
	height: 2em;
	*zoom: 1;
}

.eventpre, .eventtail{
	width: 3em;
	background: #ef7f7f;
	/*outline: 1px dashed #ccc;*/
}
.eventpre{
	float: left;
}
.eventtail{
	float: right;
}

.eventbody{
	margin: 0 3em;
	height: 2em;
}