body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.loading{
  width: 100%;
  height: 100%;
  background: url('../img/35.gif') no-repeat 45% 45%;
  background-size: 45% 45%;

  display: none;
}
.fixtop{
  position: fixed;
  width: 100%;
  height: 40px;
  /*outline: 1px solid #000;*/
}

#transorigin-ct{
  width: 400px;
  margin: 0 auto;
  /*outline: 1px solid #666;*/
}


#feedbacks{
  width: 400px;
  height: 40px;
  -webkit-perspective: 200px;
  /*-webkit-transform-origin: 50% 0%;*/
  /*outline: 1px solid #444;*/
}

#transwrapper{
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  list-style: none;

  -webkit-transform-style: preserve-3d;
 
  -webkit-transform-origin: 50% 0%;
  
  -webkit-backface-visibility: hidden;
  
  -webkit-transition: all 500ms ease;
}

#feedbacks:hover #transwrapper, .turntop{
  -webkit-transform:  translateY(100%)  translateZ(0px) rotateX(-90deg);
}

 .turnback{
  -webkit-transform: translateY(0%)  translateZ(-40px) rotateX(-180deg);
}
 .turnbottom{
  -webkit-transform: translateY(-50%)  translateZ(-20px) rotateX(-270deg);
}
 .turnfront{
  -webkit-transform: translateY(0%)  translateZ(0px) rotateX(-360deg);
}

.trans{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #accded;
  box-shadow: 0 0 0px 1px rgba( 0,0,0,0.5);
  border-radius: 5px;
  /*outline: 1px solid #555;*/

  /*opacity: 0.8;*/
}
.trans:nth-child(1){
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: rotateX(0deg);
}
.trans:nth-child(2){
  -webkit-transform-origin: 50% 0%;
  -webkit-transform: translateZ(-40px) rotateX(90deg);
}
.trans:nth-child(3){
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: translateZ(-50px) rotateX(-90deg);
}
.trans:nth-child(4){
  -webkit-transform-origin: 0% 50%;
  -webkit-transform: translateZ(-40px) rotateX(180deg);
}








#wrapper2{
  margin: 100px auto;
  position: relative;
  width: 300px;
  height: 400px;
  -webkit-perspective: 1200px;
  outline: 1px solid #fff;
}

#card{
  width: 100%;
  height: 80%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 100% 50%;
  -webkit-transition: all 800ms ease;
}
#wrapper2:hover #card{
  -webkit-transform: translateX(-100%) rotateY(-180deg);
}

.side{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #accded;
  opacity: 0.6;
  -webkit-backface-visibility: hidden;
}
.side:nth-child(1){
  
}
.side:nth-child(2){
  -webkit-transform: rotateY( 180deg );
}