.tip-ctn{
	position: fixed;
	width: 100%;
	top: 0;
	height: 40px;
	padding: 8px;
	box-sizing: border-box;
	text-align: center;
}

.tip-wraper{
	display: inline-block;
	height: 18px;
	overflow: hidden;
	outline: 1px dashed #000;
}

.tip{
	display: inline-block;
	height:20px;
	background: #accded;
	vertical-align: bottom;
	-webkit-transition: all 400ms ease;
}
.tip:before{
	/*content: attr(data-content);*/
	content: '我是before伪元素';
	display: block;
	margin-top: -20px;
  	/*width: 100px;*/
  	/*background: #000;*/
	-webkit-transform: perspective(600px) rotateX(270deg);
	-webkit-transform-origin: 50% 50%;
	/*-webkit-transition: -webkit-transform 0.5s ease-out;*/
}
.tip-wraper:hover .tip{
	/*-webkit-transform: perspective(600px) rotateX(90deg);
	-webkit-transform-origin: 50% 100%;*/
	/*margin-bottom: -20px;*/
	/*-webkit-transform: perspective(600px) rotateX(90deg);*/
	-webkit-transform: perspective(600px) rotateX(90deg) translate3d( 0px, 0px, -20px );
	-webkit-transform-origin: 50% 100%;
    -webkit-transform-style: preserve-3d;

}

.tip-wraper:hover .tip:before{
	/*-webkit-transform: perspective(600px) rotateX(0deg);
	-webkit-transform-origin: 50% 100%;*/
}




.roll-link {
    display: inline-block;
    overflow: hidden;

    vertical-align: top;

    -webkit-perspective: 600px;
       -moz-perspective: 600px;
        -ms-perspective: 600px;
            perspective: 600px;

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
        -ms-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
       
}

.roll-link:hover {text-decoration:none;}

.roll-link span {
    display: block;
    position: relative;
    padding: 0 2px;

    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
       -ms-transition: all 400ms ease;
       transition: all 400ms ease;
    
    -webkit-transform-origin: 50% 100%;
       -moz-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.roll-link:hover span {
        background: #DD4D42;
         

        -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( -90deg );
           -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( -90deg );
            -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( -90deg );
                transform: translate3d( 0px, 0px, -30px ) rotateX( -90deg );
}

.roll-link span:before {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 2px;

    color: #fff;
    background: #DD4D42;

   /* -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
            transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );*/


    -webkit-transform-origin: 50% 100%;
    -webkit-transform: translate3d( 0px, -105%, 0px ) rotateX( 90deg );
}

.wrapper{
  width: 250px;
  height: 100px;
  padding: 0 30px;
  -webkit-perspective: 600px;
  -webkit-perspective-origin: 50% 50%;
  outline: 3px dashed red;
}
.wrapper:hover #transwrapper{
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: translate3d(0,0,0) rotateX( -90deg);
}
ul#transwrapper{
  /*position: relative;*/
  list-style: none;
  width: 250px;
  height: 100px;
  padding: 0;
  -webkit-perspective: 600px;
  -webkit-perspective-origin: 50% 50%;
  outline: 2px dashed #aaa;
  transition: all 400ms ease-out;
  -webkit-transform-style: preserve-3d;
}

#transwrapper li.trans{
  position: relative;
  top: -100px;
  height: 100px;
  width: 250px;
}

.trans:nth-child(1){
  background: rgb(25,152,208);
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: rotateX(90deg);
  z-index: 500;
}

.trans:nth-child(2){
  background: #000;
  color: #fff;
  -webkit-transform-origin: ;
  z-index: 1000;

}

.trans:nth-child(3){
  background: rgb(208 ,141 ,89);
  -webkit-transform-origin: 50% 0%;
  -webkit-transform: rotateX(-90deg);
  z-index: 500;
}

/*.trans:nth-child(4){
  background: rgb(67 ,70 ,208);
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: rotateX(-180deg);
  z-index: 500;
}*/


