.avatarctn, .avatar, .highlight, .formctn, .username, .passwd{
	behavior: url(PIE.ptc);
}
.avatarctn{
	/*-pie-background: linear-gradient(#000, #FFF);
	behavior: url(PIE.ptc);*/
	/*box-shadow: inset 0 5px 8px 2px #666;*/
	border: 1px solid #666;
}
.highlight{
	/*-pie-background: linear-gradient(#CCC, #EEE); /*PIE*/
	display: none;
}


.left-triangle{
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-right: 32px solid #6FC1D2;
	border-bottom: 16px solid transparent;
	/*-webkit-transform: rotate(-45deg);*/
	/*transform: rotate(-45deg);*/
}